# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Environment files (Firebase emulator secrets)
.env.local
.secret.local

service-account.json
