.settingsWrap {
  width: 100%;
  align-items: flex-start;
}

.navigations {
  width: 250px;
  position: sticky;
  top: 10px;
  align-self: flex-start;
  max-height: calc(100vh - var(--header-Height) - 20px);
  overflow-y: auto;
  padding: 10px;
}

.contentWrap {
  flex: 1;
  min-width: 0;
  min-height: calc(100vh - var(--header-Height) - 20px);
  padding: 20px;
}
