@import "@styles/abstracts/mixins";

.layoutWrapper {
  width: 100%;

  .mainContentWraper {
    padding: 10px;
    min-height: calc(100vh - 52px);
    height: 100%;
    background-image: radial-gradient("#dee1ec" 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
}
